<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <p>
      <% if task.completed %>
          &#9746
        <% else %>
          &#9744
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to "[DEL]", task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
</ul>
<p><%= link_to "Add a new task", new_task_path %></p>
